<div id='background'>
  <div class='barra' id='topo'>
    <button class='buttonEditar'>
      <%= link_to root_path do %>
        <%= image_tag('arrow-left.png', id: "arrow") %>
        <%= "Editar Habilidades" %>
      <% end %>
    </button>

    <%= link_to "Pronta!", root_path, class:"brand" %>
  </div>

  <div class='barra'>
    <p>Você está pronta para se candidatar para às 6 vagas abaixo:</p>
  </div>


  <!-- Cards são inseridos dentro da div abaixo com ID Container -->
  <div id='container'>
    <% @jobs.each do |job| %>
      <div id='box'>
        <div class="card">
          <div class="topo">
            <%= cl_image_tag job.user.photo.key, crop: :fit, width: 200, height: 400 %>
            <div class='titulo'>
              <p class='titulovaga'><%= job.title %></p>
              <p><%= job.user.company_name %></p>
            </div>
          </div>

          <p class='descricao'><%= job.description %></p>
          
          <div class='caracteristicas'>
              <div class='caracteristica'><%= job.level %></div>
              <div class='caracteristica'><%= job.format %></div>
              <div class='caracteristica'><%= job.modality %></div>
          </div>

          <div class='buttons'>
            <button class='buttondetalhes'>
              <%= link_to job_path(job.id) do %>
                <%= "Mais detalhes" %>
              <% end %>
            </button>

            <button class='buttoncandidatar'>
              <%= mail_to job.user.email do %>
                <%= "Me candidatar" %>
              <% end %>
            </button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

