<h1>Vagas</h1>

<% @jobs.each do |job| %>
  <p>
    <%= job.user.company_name %>
    <%= job.title %>
    <%= job.location %>
    <% job.requirements.each do |requirement| %>
      <p>- <%= requirement %></p>
    <% end %>
    <%= job.format %>
    <%= job.modality %>

    <%= link_to "Saiba mais", job_path(job.id) %>
  </p>
  <br>
<% end %>