<h1><%= @job.title %></h1>

<%= @job.user.company_name %>
<%= @job.location %>
<%= @job.description %>
<% @job.requirements.each do |requirement| %>
  <p>- <%= requirement %></p>
<% end %>
<%= @job.format %>
<%= @job.modality %>

<%= link_to "Ver outras vagas", jobs_path %>
